@import url("https://fonts@utility googleapis@utility com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@utility transition-300 {
  transition: all linear 300ms;
}

@utility gradient-bg-welcome {
  background-color: #1a1a1a;
  background-image:
    radial-gradient(at 0% 0%, hsla(253, 16%, 10%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsla(225, 39%, 35%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(339, 49%, 35%, 1) 0, transparent 50%);
}

@utility gradient-bg-services {
  background-color: #1a1a1a;
  background-image:
    radial-gradient(at 0% 0%, hsla(253, 16%, 10%, 1) 0, transparent 50%),
    radial-gradient(at 50% 100%, hsla(225, 39%, 30%, 1) 0, transparent 50%);
}

@utility gradient-bg-transactions {
  background-color: #1a1a1a;
  background-image:
    radial-gradient(at 0% 100%, hsla(253, 16%, 10%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%);
}

@utility gradient-bg-footer {
  background-color: #1a1a1a;
  background-image:
    radial-gradient(at 0% 100%, hsla(253, 16%, 10%, 1) 0, transparent 53%),
    radial-gradient(at 50% 150%, hsla(339, 49%, 35%, 1) 0, transparent 50%);
}

@utility blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
@utility white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@utility eth-card {
  background-color: #b3a3ff;
  background-image:
    radial-gradient(at 83% 67%, rgb(162, 241, 176) 0, transparent 58%),
    radial-gradient(at 67% 20%, hsla(357, 94%, 75%, 1) 0, transparent 59%),
    radial-gradient(at 88% 35%, hsla(222, 81%, 70%, 1) 0, transparent 50%),
    radial-gradient(at 31% 91%, hsla(9, 61%, 65%, 1) 0, transparent 52%),
    radial-gradient(at 27% 71%, hsla(336, 91%, 70%, 1) 0, transparent 49%),
    radial-gradient(at 74% 89%, hsla(30, 98%, 70%, 1) 0, transparent 51%),
    radial-gradient(at 53% 75%, hsla(174, 94%, 73%, 1) 0, transparent 45%);
}

@utility text-gradient {
  background-color: #fff;
  background-image:
    radial-gradient(at 4% 36%, hsla(0, 0%, 100%, 1) 0, transparent 53%),
    radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@theme {
  --breakpoint-mf: 990px;

  --animate-slide-in: slide-in 2s ease-out;
  @keyframes slide-in {
    0%: {
      -webkit-transform: translateX(120%);
      transform: translateX(120%);
    }
    100%: {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
  }
}
